@model AllUsersViewModel

<td>
    <a>
        @Model.Name
    </a>
</td>
<td>
    <ul class="list-inline">
        <li class="list-inline-item">
            @Model.Email
        </li>
    </ul>
</td>
<td class="project-state">
    @{
        if (Model.LockoutEnd is not null)
        {
            <span class="badge badge-danger">Locked</span>
            <br />
            <small> till @Model.LockoutEnd </small>
        }
        else
        {
            <span class="badge badge-success">Unlocked</span>
        }
    }
</td>
<td class="project-actions text-right">
    <a asp-area="Admin" asp-controller="User" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">
        <i class="fas fa-user"></i>
        Profile
    </a>
    <a asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info btn-sm">
        <i class="fas fa-user-edit"></i>
        Edit
    </a>
    @{
        if (Model.LockoutEnd is not null)
        {
            <form asp-area="Admin" asp-controller="User" asp-action="UnlockUser" asp-route-id="@Model.Id" method="post">
                <button type="submit" class="btn btn-success btn-sm">
                    <i class="fas fa-lock-open"></i>
                    Unlock
                </button>
            </form>
        }
        else
        {
            <form asp-area="Admin" asp-controller="User" asp-action="LockUser" asp-route-id="@Model.Id" method="post">
                <button type="submit" class="btn btn-danger btn-sm">
                    <i class="fas fa-lock"></i>
                    Lock
                </button>
            </form>
        }
    }
</td>