@model CommentServiceModel

<form asp-area="" asp-controller="Comment" asp-action="DeleteComment" method="post">
    <div class="card-comment">
        <div class="comment-text">
            <span class="username">
                @Model.UserName
                <span class="text-muted float-right">@Model.DateOfCreation.ToShortTimeString() | @Model.DateOfCreation.ToLongDateString()</span>
            </span><!-- /.username -->
            <div id="commentText">
                @Model.Text

                @if (User.IsInRole("Administrator"))
                {
                    <input name="id" value="@Model.Id" type="hidden" />
                    <input name="articleId" value="@Model.ArticleId" type="hidden" />

                    <button class="btn btn-default btn-sm float-right" type="submit">Delete</button>
                }
            </div>
        </div>
        <!-- /.comment-text -->
    </div>
</form>